// button.scss

.btn {
    @each $color, $value in $theme-colors {

        &.btn-#{$color} {
            background-color: $value;
            border: 1px solid $value;
            box-shadow: 0px 4px 6px 0px rgba($dark, 0.2);

            &:hover {
                background-color: transparent;
                color: $value;
            }

        }

        &.btn-outline-#{$color} {
            border: 1px solid $value;
            color: $value;
            background-color: rgba($value, 0.12);
            box-shadow: 0px 4px 6px 0px rgba($dark, 0.2);

            &:hover {
                background-color: $value;
                color: $white;
            }
        }

    }

    &.btn-login {
        background-color: var(--bs-hero-badge-bg);
        color: var(--bs-hero-badge-color);
        border: 1px solid var(--bs-hero-badge-border);
        border-radius: 0.375rem;

        &:hover {
            background-color: var(--bs-hero-badge-color);
            color: var(--bs-hero-btn-hover-color);
        }
    }

    &.btn-get-start {
        background-color: var(--bs-btn-get-start-bg-color);
        border: 1px solid var(--bs-btn-get-start-border-color);
        color: var(--bs-text-muted);
        font-weight: $font-weight-medium;
        padding: 12px 0px;
    }

    &.btn-custom-light {
        border: 1px solid var(--bs-nav-bg-color);
        color: var(--bs-nav-bg-color);
        background-color: rgba(var(--bs-nav-bg-color), 0.12);
        box-shadow: 0px 4px 6px 0px rgba($dark, 0.2);

        &:hover {
            background-color: var(--bs-nav-bg-color);
            color: var(--bs-hero-badge-color);
        }
    }

    @media (min-width: 0px) and (max-width: 991.98px) {
        padding: 0.5rem 1rem;
        font-size: $input-btn-font-size-sm;
    }

    &:hover {
        transform: scale(0.9);
    }
}

[data-bs-theme="dark"] {
    .btn {
        &.btn-dark-outline {
            border: 1px solid $gray-100;
            color: $gray-100;
            background-color: transparent;
            box-shadow: 0px 4px 6px 0px rgba($dark, 0.2);

            &:hover {
                background-color: $gray-100;
                color: $primary;
            }
        }
    }
}