.aichatboat-hero {
    .aichatboat-hero-content {
        .hero-title {
            @media (min-width: 576px) {
                font-size: 50px;
                line-height: 3.75rem;
            }

            color: var(--bs-navlink-color);
            font-weight: $font-weight-semibold;
            margin-bottom: 1.25rem;
            filter: drop-shadow(0px 4px 4px rgba($gray-900, 0.2));
        }

        .ai-tool-icon {
            @media (min-width: 992px) {
                width: 80px;
                height: 80px;
            }

            @media (min-width: 0) and (max-width: 991.98px) {
                width: 50px;
                height: 50px;
            }

            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--bs-features-card-border-color);
            border-radius: 10px;
            background-color: rgba($white, 0.5);

            img {
                @media (min-width: 992px) {
                    width: 50px;
                    height: 50px;
                }

                @media (min-width: 0) and (max-width: 991.98px) {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}