// blog.scss

.blog-hero {
    .hero-title {
        @media (min-width: 992px) {
            font-size: 52px;
        }


        @media (min-width: 576px) and (max-width: 991.98px) {
            font-size: 40px;
        }

        filter: drop-shadow(0px 4px 4px rgba($gray-900, 0.2));
    }
}

.blog-cta {
    .cta-title {
        @media (min-width: 768px) {
            font-size: 46px;
        }

        filter: drop-shadow(0px 5px 5px rgba($gray-900, 0.2));
    }

    .cta-text {
        @media (min-width: 768px) {
            font-size: 20px;
        }
    }

    .girl-img {
        filter: drop-shadow(5px 12px 3px rgba($gray-900, 0.16));
    }
}

.blogdetails-hero-section {
    position: relative;
    @media (min-width: 992px) { 
        padding-top: 154px;
    }
    @media (min-width:0px) and (max-width: 991.98px){
        padding-top: 100px;
    }
}

.blog-details {
    .user-img {
        height: 60px;
        width: 60px;
        border-radius: $border-radius-2xl;
        overflow: hidden;
    }

    .badge {
        border: 1px solid var(--bs-btn-get-start-border-color);
        border-radius: 6px;
        background-color: var(--bs-btn-get-start-bg-color);
        font-size: 14px;
        color: var(--bs-text-muted);
        padding: 5px 14px;
    }

    hr{
        color: var(--bs-features-card-border-color);
    }
}