// team.scss

.team-hero {
    .hero-title {
        @media (min-width: 576px) {
            font-size: 52px;
            line-height: 3.875rem;
        }

        color: var(--bs-navlink-color);
        font-weight: $font-weight-semibold;
        margin-bottom: 1.5rem;
        filter: drop-shadow(0px 4px 4px rgba($gray-900, 0.2));
    }

    .employe-img {
        filter: drop-shadow(5px 12px 3px rgba($gray-900, 0.16));
    }
}

.social-icons {
    color: var(--social-icon);
    transition: $transition-base;

    &.facebook-icon,
    &.twitter-icon {
        &:hover {
            transform: translateY(-4px) scale(1.3) rotate(-4deg);
        }
    }

    &.instagram-icon,
    &.pinterest-icon {
        &:hover {
            transform: translateY(-4px) scale(1.3) rotate(4deg);
        }
    }

    &.facebook-icon {
        &:hover {
            color: $blue;
        }
    }

    &.instagram-icon {
        &:hover {
            color: $pink;
        }
    }

    &.twitter-icon {
        &:hover {
            color: $black;
        }
    }

    &.pinterest-icon {
        &:hover {
            color: $danger;
        }
    }

}