footer {
    position: relative;
    background: var(--bs-footer-bg);
    z-index: 0;
    margin-top: 100px;

    .subscripe-section {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 2;

        @media (min-width: 1200px) {
            top: -90px;
        }

        @media (min-width: 0px) and (max-width: 1199.98px) {
            top: -120px;
        }

        .subscribe {
            border: 1px solid var(--bs-features-card-border-color);
            border-radius: 10px;

            @media (min-width: 768px) {
                padding: 60px 112px;
            }

            @media (min-width: 0px) and (max-width: 767.98px){
                padding: 16px;
            }

            .sub-title {
                color: var(--bs-navlink-color);
            }

            .input-wrap {
                position: relative;
                width: 100%;
                max-width: 450px;

                .form-control {
                    border: 1px solid var(--bs-features-card-border-color);
                    background-color: var(--bs-features-card-color-light);
                    box-shadow: 0px 2px 6px 0px rgba($gray-900, 0.3);
                    border-radius: $border-radius;
                }

                @media (min-width: 768px) {
                    .subscribe-btn {
                        position: absolute;
                        top: 50%;
                        right: 8px;
                        transform: translateY(-50%);
                        padding: 12px 30px;
                    }

                }
            }
        }

    }


    .footer-section {
        position: relative;
        background: url('../../images/managesaas/bg_img.png') center/cover no-repeat;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba($white, 0.8);
        z-index: 1;
        backdrop-filter: blur(40px);
        padding-top: 173px;

        .icon-wrap {
            .social-icon {
                height: 44px;
                width: 44px;
                background: rgba($white, 0.12);
                color: $white;
                border: 1px solid rgba($white, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $border-radius-2xl;
                transition: all 0.3s linear;

                &:hover {
                    background-color: $white;
                    color: $gray-900;
                    border-radius: $border-radius-sm;
                    animation: wiggle 0.5s ease;
                }

                i {
                    font-size: 24px;
                }
            }
        }

        .footer-link-title {
            font-size: 26px;
            font-weight: $font-weight-semibold;
            color: $white;

        }

        .footer-link {
            color: rgba($white, 0.8);
            transition: $transition-base;

            &:hover {
                color: $white;
            }
        }
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(-45deg) scale(0.8);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}